@charset "utf-8";
/* CSS Document */


/* Public Display */

h1 {
    font-size: 32px;
    line-height: 32px;
    /* 减小上下天地 */
    margin-block-start: 10px;
    margin-block-end: 10px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 0 4px;
    /* 减小上下天地 */
    margin-block-start: 4px;
    margin-block-end: 4px;
    /* fake hr */
    padding-bottom: 6px;
    border-bottom: 1px solid #c0c0c0dd;
}

@media (max-width: 250px) {
    h1 span {
        display: none;
    }
}

hr {
    /* 减小上下天地 */
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

a {
    color: #6cf;
    text-decoration: none;
}

a:hover {
    /* 鼠标悬停时的颜色 */
    color: #8ef;
}

body {
    background-color: #fefefe;
    font-family: Mojangles, Unifont, monospace, simsun, Times, serif;
    color: #010101;
}

canvas#dotLine {
    position: fixed;
    top: 0;
    left: 0;
}

/* Special Div Styles */

div.frame {
    position: relative;
    margin: 0 auto;
    top: -8px;
    max-width: 820px;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(192, 192, 192, 0.5);
    background-color: rgba(240, 240, 240, 0.6);
    text-align: center;
    z-index: 1;
}

div.header {
    margin: 5px;
}

div.content {
    margin: 5px;
}

div.footer {
    margin: 5px;
    font-size: 12px;
    line-height: 1.1;
}

/* Website Links Styles */

div.gp {
    padding: 5px;
    text-align: left;
}

.gptitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.gpframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 边距 */
    padding: 0 4px;
    margin-block-start: 4px;
    margin-block-end: 4px;
}

a.siteboxlink {
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 4px 4px 4px #ccc;
    padding: 8px;
    margin: 3px;
    display: block;
    width: 100%;
    max-width: 176px;
    height: 112px;
    color: #111;
}

a.siteboxlink:hover {
    color: #666;
    background-color: #fcfcfc;
}

span.sitetitle {
    padding: 3px 0 3px 24px;
    height: 16px;
    line-height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: 2px;
    background-position-y: center;
    display: flex;
    justify-content: space-between;
}

span.sitedescription {
    height: 84px;
    line-height: 1.05;
    font-family: Unifont, monospace, simsun, Times, serif;
    padding: 3px 0 0;
    display: block;
    overflow: hidden;
}

#common a.siteboxlink {
    height: auto;
    width: auto;
    padding: 4px;
}

#common a.siteboxlink span.sitedescription {
    display: none;
}

@media (max-width: 220px) {
    a.siteboxlink {
        height: auto;
        width: auto;
        padding: 4px;
    }
    span.sitedescription {
        display: none;
    }
    span.sitetitle {
        font-size: 0;
        background-position: center center;
    }
}

button.cross {
    display: inline;
    background-color: transparent;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: #666;
    cursor: pointer;
    padding: 0 0 0 2px;
}

.cross::after {
    content: '✕';
}

@media (max-width: 220px) {
    button.cross {
        display: none;
    }
}

/* Form */

form#search {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    height: 30px;
    position: sticky;
    top: 0;
}

form#search * {
    margin: 2px;
    font-size: 14px;
    font-family: monospace, sans-serif;
    line-height: 16px;
    border-radius: 24px;
    border-color: #6666;
    border-width: 1px;
    border-style: solid;
}

input[name="q"] {
    width: 50%;
    padding: 4px 8px;
}

input[type="submit"] {
    padding: 4px 12px;
    cursor: pointer;
}

@media (max-width: 700px) {
    input[name="q"] {
        width: 60%;
    }
}

@media (max-width: 600px) {
    input[name="q"] {
        width: 70%;
    }
}

@media (max-width: 500px) {
    input[name="q"] {
        width: 80%;
    }
}

@media (max-width: 300px) {
    input[name="q"] {
        width: 90%;
    }
    input[type="submit"] {
        display: none;
    }
}
