@charset "utf-8";
/* CSS Document */


/* Fonts */
/* 字体的使用及传播遵从 CC-BY-SA-4.0 许可 */

@font-face {
	font-family: Mojangles;
	src: url("mojangles.ttf");
	/* 该Mojangles字体并非来自官方 */
}

@font-face {
	font-family: Unifont;
	src: url("http://unifoundry.com/pub/unifont/unifont-15.0.06/font-builds/unifont-15.0.06.otf");
}

/* Screen Display */

@media screen {

	/* Universal Style */

	body {
		margin-top: -21px;	/* 去除页面上方多余空白 */
		background-color: #fefefe;
		font-family: Mojangles, Unifont;
		color: #010101
	}

	h1 {
		/* 去除上下天地 */
		margin-block-start: 0em;
		margin-block-end: 0em;
	}

	a {
		color: #6cf;
		text-decoration: none;
	}

	a:hover {
		color: #9ff;	/* 鼠标悬停时的颜色 */
	}

	div {
		/* 上下外边距5px */
		padding-top: 5px;
		padding-bottom: 5px;
		/* 左右外边距10px */
		padding-left: 10px;
		padding-right: 10px;
	}

	/* Special Div Styles */

	div.frame {
		margin: auto;	/* 居中 */
		width: 800px;	/* 宽度800px */
		box-shadow: 10px 10px 10px #ccc;	/* 美丽的阴影 */
		background-color: #eee;
		text-align: center;
	}

	div.header{
		padding-top: 30px;	/* 防止标题在屏幕外显示 */
	}

	div.footer {
		font-size: 12px;
	}

	div.gp {
		text-align: left;
	}
}

/* Printer Display */

@media print {

	body {
		font-family: Mojangles;
	}
	
	a {
		color: #6cf;
		text-decoration: none;
	}
	
	div.footer {
		font-size: 12px;
	}
}